h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

h2 span.spacer {
   padding:0 5px;
}

.loginBackground {
  width: 100%;
  height: 100vh;
  background: url(./rain.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: repeat-y;
  animation: animatedBackground 50s linear infinite;
}

.name-input {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  height: 90%;
}

.name-input-container {
  height: 100%;
  background-color: white;
}

.title {
  padding-right: 20px;
}

#janrainEngageEmbed {
  padding-top: 50px;
}

#signInView {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
